<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite For JCREW Sign In Test">

<listeners>
<listener class-name="Listener.Listener"></listener>
</listeners>



  <test name="Sign In Test">
  
  
    <classes>
      <class name="Test.SignInTest"/>
      
      <class name="Test.SubmitClick"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
